<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pokémon</title>
</head>
<body>
<h1>Lista de Pokémons</h1>
<ul>
    <li th:each="pokemon : ${pokemons}">
        <a th:href="@{/pokemon/{id}(id=${pokemon.name})}" title="Imagen de Pokémon Normal">
            <img th:src="${pokemon.sprites.front_default}" alt="Imagen de Pokémon Normal"/>
        </a>
        <a th:href="@{/pokemon/{id}(id=${pokemon.name})}" title="Imagen de Pokémon Shiny">
            <img th:src="${pokemon.sprites.front_shiny}" alt="Imagen de Pokémon Shiny" th:href="@{/pokemon/{id}(id=${pokemon.name})}"/>
        </a>
        <a th:href="@{/pokemon/{id}(id=${pokemon.name})}" th:text="${pokemon.name}">Nombre del Pokémon</a>
    </li>
</ul>

<div>
    <a th:if="${currentPage > 0}" th:href="@{/pokemons(page=${currentPage - 1})}">Anterior</a>
    <a th:href="@{/pokemons(page=${currentPage + 1})}">Siguiente</a>
</div>
</body>
</html>



