<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pokemon.name}">Detalles de Pokémon</title>
</head>
<body>
<h1 th:text="${pokemon.name}">Nombre del Pokémon</h1>
<img th:src="${pokemon.sprites.front_default}" alt="Imagen de Pokémon Normal" />
<img th:src="${pokemon.sprites.front_shiny}" alt="Imagen de Pokémon Shiny" />
<p>Altura: <span th:text="${pokemon.height}">0</span> metros</p>
<p>Peso: <span th:text="${pokemon.weight}">0</span> kg</p>

<h2>Tipos:</h2>
<ul>
    <li th:each="type : ${pokemon.types}">
        <span th:text="${type.type.name}">Tipo</span>
    </li>
</ul>

<h2>Habilidades:</h2>
<ul>
    <li th:each="ability : ${pokemon.abilities}">
        <span th:text="${ability.ability.name}">Habilidad</span>
    </li>
</ul>

<h2>Estadísticas:</h2>
<ul>
    <li th:each="stat : ${pokemon.stats}">
        <span th:text="${stat.stat.name}">Estadística</span>:
        <span th:text="${stat.base_stat}">Valor</span>
    </li>
</ul>

<a href="/pokemons">Volver a la lista</a>
</body>
</html>

