<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del Pokémon</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="pokemon-details-container">
    <div class="pokemon-header">
        <img th:src="${pokemon.sprites.front_default}" alt="Sprite de [[${pokemon.name}]] Normal">
        <img th:src="${pokemon.sprites.front_shiny}" alt="Sprite de [[${pokemon.name}]] Shiny" />
        <h1 th:text="${pokemon.name.toUpperCase()}"></h1>
    </div>

    <div class="pokemon-info">
        <p>Altura: <span th:text="${pokemon.height}"></span></p>
        <p>Peso: <span th:text="${pokemon.weight}"></span></p>
    </div>

    <div class="pokemon-types">
        <h3>Tipos:</h3>
        <ul>
            <li th:each="type : ${pokemon.types}" th:text="${type.type.name}"></li>
        </ul>
    </div>

    <div class="pokemon-abilities">
        <h3>Habilidades:</h3>
        <ul>
            <li th:each="ability : ${pokemon.abilities}" th:text="${ability.ability.name}"></li>
        </ul>
    </div>

    <div class="pokemon-stats">
        <h3>Estadísticas:</h3>
        <ul>
            <li th:each="stat : ${pokemon.stats}">
                <p th:text="${stat.stat.name} + ': ' + ${stat.base_stat}"></p>
            </li>
        </ul>
    </div>
</div>


<a class="btn-vovler" href="/pokemons">Volver a la lista</a>
</body>
</html>

