<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pokémon</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Lista de Pokémons</h1>
<div class="pokemon-grid">
    <div th:each="pokemon : ${pokemons}">
        <div class="pokemon-item">
            <div class="num-pokedex">
                <a th:href="@{/pokemon/{id}(id=${pokemon.name})}" th:text="${pokemon.id}" alt="Número en la Pokedex"></a>
            </div>
            <div class="pokemon-img">
                <a th:href="@{/pokemon/{id}(id=${pokemon.name})}" title="Sprite de Pokemon Normal">
                <img th:src="${pokemon.sprites.front_default}" alt="Sprite de [[${pokemon.name}]] Normal"/>
                </a>
                <a th:href="@{/pokemon/{id}(id=${pokemon.name})}" title="Sprite de Pokemon Shiny">
                    <img th:src="${pokemon.sprites.front_shiny}" alt="Sprite de [[${pokemon.name}]] Shiny" />
                </a>
            </div>
            <div class="pokemon-name">
                <a th:href="@{/pokemon/{id}(id=${pokemon.name})}" th:text="${pokemon.name.toUpperCase()}">Nombre del Pokémon</a>
            </div>

        </div>
    </div>
</div>
<div class="btn-page">
    <div class="btn-next">
        <a th:if="${currentPage > 0}" th:href="@{/pokemons(page=${currentPage - 1})}">Anterior</a>
    </div>
    <div class="btn-previous">
        <a th:href="@{/pokemons(page=${currentPage + 1})}">Siguiente</a>
    </div>
</div>
</body>
</html>



